@import url(https://fonts.googleapis.com/css?family=Exo+2:400,200,300,400italic,700,800,900,700italic,800italic,300italic,500,600,600italic,500italic,200italic);

body,
html {
  min-height: 100%;
}

body {
	background-image: url("../images/Bg_image.png");
	background-repeat: no-repeat;
  	background-size: Cover;
}

video#bgvid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-size: cover;
	z-index:-1;
}

.text-wrapper{
	background-color: rgba(0,0,0,0.65);
}

h1 {
	font-family: 'Exo 2', sans-serif;
	font-weight: 200;
	color: #FFFFFF;
	font-size: 50px
}

h4 {
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 14px
}

h5 {
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	color: #FFFFFF;
	text-decoration: None;
	font-size: 11px
}

a { 
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #84BD00;

}